<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".Adivinar"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_icono_aplicacion"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_icono_aplicacion"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">


        <activity
            android:name=".Prueba"
            android:exported="false" />
        <activity
            android:name=".HomeActivities.ActividadDetails"
            android:exported="false" />
        <activity
            android:name=".HomeActivities.ActividadClassification"
            android:exported="false" />
        <activity
            android:name=".GameActivities.ActividadFinal"
            android:exported="false" />
        <activity
            android:name=".GameActivities.ActividadPlay"
            android:exported="false" />
        <activity
            android:name=".HomeActivities.ActividadProfile"
            android:exported="false" />
        <activity
            android:name=".HomeActivities.ActividadHome"
            android:exported="false" />
        <activity
            android:name=".LoginActivities.ActividadConditions"
            android:exported="false" />
        <activity
            android:name=".LoginActivities.ActividadRegister"
            android:exported="false" />
        <activity
            android:name=".LoginActivities.ActividadLogin"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>